

:root{
    --BackgroundColor: #192E32;
    --BooksStat: #192426;
    --textColor: #e9e6e6;
    --sideNavsColor: #A0C6D0;
    --sideBarBackgroundColor: #243F46;
    --sideBarIcons: #54838F;
    --btn-hover-yellow: #FFC25E;
    --icon-hover-color: #8C5F16;
    --btn-border:#FFF9EF;
    --line-color:#304144;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 body{
    font-family: "Inter", sans-serif;
    width: 100%;
} 

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-left: 50px;
}

.logo{
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    margin-left: 5px;
    
}

.title{
    margin-left: 200px;
}

.title h1{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 32px;
    
}

.close{
    margin-left: 200px;

}

.close_icon{
    width:40px;
    height: 40px;
}

.close_icon:hover{
    cursor: pointer;
}

.divider{
    width:100%;
    margin-top: 10px;
    border: 1px solid var(--line-color);

}

.body{
    display: flex;
}

.sidenav{
    background-color: var(--sideBarBackgroundColor);
    width:20%;
    height:100%;
    padding-bottom: 100px;
}

.table{
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    margin-top:20px;
    margin-bottom:30px ;
    margin-left: 15px;
    line-height: 24px;
}

.sidenav_link{
    list-style-type: none;
    padding-top:30px;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 28px;
}

.pages{
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 18px;
    margin-left:50px;
    background-color: var(--BackgroundColor);
    padding: 5px 10px 5px 10px;
    gap: 10px;
}
.chapter_title{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 18px;
}

li:hover{
    background-color:var(--BackgroundColor);
    cursor: pointer;
}

li:hover .pages{
    background-color: var(--sideBarBackgroundColor);
}
.content{
    position: absolute;
    left:30%;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    line-height: 28px;
    width:60%;
  
}

.content h2{
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    margin-top:50px;
}

.content p{
    margin-top: 30px;
}