:root{
    --BackgroundColor: #192E32;
    --BooksStat: #192426;
    --HeroBgColor: #27373A;
    --textColor: #e9e6e6;
    --sideNavsColor: #A0C6D0;
    --sideBarBackgroundColor: #243F46;
    --sideBarIcons: #54838F;
    --btn-hover-yellow: #FFC25E;
    --icon-hover-color: #8C5F16;
}
.login_page{
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
}
.login_left{
    font-family: "Inter", sans-serif;
    background-color: var(--BackgroundColor);
    width:50%;
    padding: 2rem 6rem;
}
.login_left h2{
    font-size:25px;
    font-weight: 500px;
    margin-top: 5rem;
}
.login_left p{
    font-size: 0.8rem;
    font-weight: 400px;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
}

.login_left form{    
    width: 100%;
}
.google_btn{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    color: var(--White);
    width:100%;
    padding: 0.3rem;
    align-items: center;
    background: transparent;
    margin: 0.1rem 0rem;
    border: 1px solid var(--input-outline-color);
    border-radius: 5px;
    outline:none;
}

.twitter_btn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    width: 50%;
    padding: 0.5rem 0rem;
    border-radius: 5px;
    color: var(--textColor);
    border: 1px solid var(--sideNavsColor);
    background-color: transparent;
}

.or{
    display: flex;    
    justify-content: center;    
    
}
.or > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    gap: 0.5rem;
    margin: 0.5rem 0rem;
}
.or div hr{
    width: 50%;
    border: 0px solid;
    border-bottom: 0.1px solid var(--sideNavsColor);
    height: 0vh;
}

.input_container{    
    border:1px solid var(--input-outline-color);
    border-radius: 5px;
    background: transparent;
    color:var(--input-outline-color);
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding: 0rem 0.7rem; 
    margin-bottom: 1rem;   
}

.input_box{
    width:100%;
    background-color: transparent;
    padding: 0.7rem 0.2rem; 
    border: none;
    color: var(--textColor);
}

.input_icon {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 10px; 
    color: var(--input-outline-color);
  }

  .input:focus{
    border:5px solid var(--input-outline-color);
  }

.eye_icon {    
    cursor: pointer;
    color: var(--input-outline-color);
}

.remember{
    margin-top:2px;
    display: flex;
    gap: 0.5rem;
    font-size: 14px;
}

.email_box{
    background-color: transparent;
    width: 100%;
    padding: 0.6rem 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid var(--sideNavsColor);
}
.user_detail_field{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.email_box input{
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 160px;
    width: 100%;  
    color: var(--textColor);  
    padding: 1rem;
}
.email_box.icon{
    font-size: 30px;
    cursor: pointer;
}
input:focus{
    outline: none;
}
::placeholder{
    font-size: 14px;
    color: var(--sideNavsColor);
}

.pwd_details{
    margin: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left_detail{
    color: var(--textColor);
}
.right_detail{
    font-size: 14px;
    color: var(--btn-hover-yellow);
}
.right_detail a{
    color: var(--btn-hover-yellow);
}
.login_button{
    width: 100%;
    background-color: var(--btn-hover-yellow);
    color: var(--BooksStat);
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin: 1rem 0rem;
    border: none;
}
.dont_have_account{
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 13px;
}
.dont_have_account span a{
    color: var(--btn-hover-yellow);
}

.login_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    gap: 2rem;
    background-color: var(--sideBarBackgroundColor);
}
.login_right img{    
    width:300px;
    height:300px;
}
.login_right .title{
    font-size: 20px;
    color: var(--textColor);
}
.login_right p{
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 1rem;
    color: var(--btn-hover-yellow);
}
.page_circ{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.circ{
    width: 8px;
    padding: 0.2rem;
    min-height: 1vh;
    border-radius: 50%;
    border: 1px solid var(--sideNavsColor);
}
.circ.active{
    background-color: var(--textColor);
}




@media only screen and (max-width:667px){
    .login_page{
        flex-direction: column;
    }
    .login_left{
        width:100%;
        padding: 2rem 1rem;
    }
    .login_right{
        width: 100%;
        padding: 4rem 1rem;
    }
}